CREATE DATABASE [Advertiser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Advertiser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\DATA\Advertiser.mdf' , SIZE = 4096KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Advertiser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER2\MSSQL\DATA\Advertiser_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Advertiser]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Advertiser] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
